<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport'>
<link href='/css/semantic.min.css' rel='stylesheet' type='text/css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href='/css/custom.css' rel='stylesheet' type='text/css'>

{{ partial "favicon.html" }}
<script crossorigin='anonymous' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/dropdown.min.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/popup.min.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/transition.min.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/sidebar.min.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/dimmer.min.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/api.min.js' type='text/javascript'></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122482224-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122482224-2');
</script>

<title>
Make Yourself Designs
</title>
<meta content='display_description' name='description'>
</head>
<body>
  {{ partial "nav.html" }}

<main class='ui container blog-index'>
<h1 class='ui header'>
{{ .Site.Params.bloghead }}
</h1>



    <!-- Everything below fades in two! -->


    <div class="ui text container"><!-- Begin Blog container -->
    <div class="ui section"><!-- Begin Blog container -->

    {{ if .Site.Params.showlatest }}
    <h2 class="ui header centered">Latest Post</h2>
        {{ range first 1 (where .Data.Pages.ByPublishDate.Reverse "Section" "blog") }}
        <h3 class="ui header"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        {{ .Date.Format .Site.Params.dateform }}
        <div class="summary">
                <div class="markdown">
                    {{ .Summary }}
                {{ if .Truncated }}
                <a class="read-more" href="{{ .RelPermalink }}">...Read More</a>
                {{ end }}
                </div>
        </div>
        {{ end }}
    {{ end }}
    </div>

    <div class="ui section"><!-- Begin Blog container -->
    <h2 class="ui header centered">All Posts</h2>
        <div class="ui relaxed divided list big">
        {{ range sort (.Data.Pages.ByPublishDate).Reverse  }}
            {{ if eq .Section "blog" }}
                {{ partial "li.html" . }}
            {{ end }}
        {{ end }}
        </div>

  </div>
    </div><!-- End Blog container -->

<!-- <div class="container has-text-centered top-pad">
<hr>
<a href="{{ .Permalink }}#top"><i class="fa fa-arrow-up"></i></a>
<hr>
</div> -->

</main>
{{ partial "footer.html" }}
</body>
<script>
  $('.toggle-sidebar').on('click', function() {
    $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle')
  })

  $('.nav-img').dimmer({on: 'hover'})
  $('.nav-img').on('click', function() {
    var path = $(this).find('a').attr('href')
    window.location.href = path;
  })
</script>
</html>
