<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport'>
<link href='/css/semantic.min.css' rel='stylesheet' type='text/css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href='/css/custom.css' rel='stylesheet' type='text/css'>

{{ partial "favicon.html" }}
<script crossorigin='anonymous' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/dropdown.min.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/popup.min.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/transition.min.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/sidebar.min.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/dimmer.min.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/api.min.js' type='text/javascript'></script>
{{ template "_internal/google_analytics_async.html" . }}
<title>
  Make Yourself Designs
</title>
<meta content='display_description' name='description'>
</head>
<body>
  {{ partial "nav.html" }}

<main class='ui container'>
<h1 class='ui header'>
Make Yourself Designs
</h1>


    <!-- Everything below fades in two! -->
    <div class="ui section big-headers"><!-- Begin Blog container -->

    <div class="ui text container"><!-- Begin Blog container -->

    {{ if .Site.Params.showlatest }}
      {{ range first 1 (where .Data.Pages.ByPublishDate.Reverse "Section" "about") }}
        <h2 class="ui header centered">{{ .Title }}</h2>
        <div class="about">
                <div class="markdown">
                {{ .Content }}
                </div>
        </div>
        {{ end }}
    {{ end }}

    </div><!-- End Blog container -->
    <div class="centered top-margin">
      <a href="https://www.etsy.com/shop/MakeYourselfDesigns" class="ui button green huge">
        Store
      </a>
      <a href="/blog" class="ui button primary huge" type="submit">
        Blog
      </a>
    </div>
  </div>


</main>
{{ partial "footer.html" }}
</body>
<script>
  $('.toggle-sidebar').on('click', function() {
    $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle')
  })

  $('.nav-img').dimmer({on: 'hover'})
  $('.nav-img').on('click', function() {
    var path = $(this).find('a').attr('href')
    window.location.href = path;
  })
</script>
</html>

