<footer class='ui vertical footer segment'>
  <div class='ui container center aligned'>
  <a class='ui button circular icon basic inverted white huge' href='/about'>
  <i class='user outline icon'></i>
  </a>
  <a class='ui button circular icon basic inverted white huge' href='/blog'>
  <i class='pencil alternate icon'></i>
  </a>
  <a class='ui button circular icon basic inverted white huge' href='mailto:MakeYourselfDesigns@gmail.com'>
  <i class='icon envelope'></i>
  </a>
  <a class='ui button circular icon basic inverted white huge' href='https://www.etsy.com/shop/MakeYourselfDesigns'>
  <i class='icon etsy'></i>
  </a>
  <a class='ui button circular icon basic inverted white huge' href='https://instagram.com/makeyourselfdesigns'>
  <i class='icon instagram'></i>
  </a>
  <a class='ui button circular icon basic inverted white huge' href='https://facebook.com/MYD518'>
  <i class='icon facebook'></i>
  </a>
  </div>
</footer>
