<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta name="p:domain_verify" content="e9bad3f34c18f76bfbd73ecd15f1122f"/>
<link href='/css/semantic.min.css' rel='stylesheet' type='text/css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css' rel='stylesheet' type='text/css'>
<link href='/css/custom.css' rel='stylesheet' type='text/css'>
<script src='/js/custom.js' type='text/javascript'></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121990303-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121990303-2');
</script>

{{ template "_internal/google_analytics_async.html" . }}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="referrer" content="no-referrer">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport'>

<meta itemprop="date"
      content="{{ .Date.Format (.Site.Params.date | default "January 2, 2006") }}">
<meta itemprop="dateModified"
      content="{{ .Date.Format (.Site.Params.dateModified | default "January 2, 2006") }}">
<meta itemprop="image"  content="{{ .Site.BaseURL }}img/{{ .Params.img }}" />


<title>
{{ .Title }}
</title>
<meta charset="UTF-8">
{{ if .Params.description }}
<meta content="{{ .Params.description }}" name='description'>
{{ end  }}
{{ if .Params.keywords }}
<meta content="{{ .Params.keywords }}" name='keywords'>
{{ end  }}
</head>
<body class="landing" style="background-image: url('../img/{{.Params.img}}');">
<h1 style="visibility: hidden; font-size: 1px; margin-bottom: 0px;">Make Yourself Designs</h1>
<div class='ui center aligned grid logo'>
  <img src="img/logo.png">
<!--  <div class="column">
    <div class="content">
      <h1>
        <div class="item">
          MAKE
        </div>
        <div class="item">
          YOUR
        </div>
        <div class="item self">
          SELF
        </div>
        <div class="item script">
          designs
        </div>
      </h1>
    </div>
  </div> -->
</div>

<div class='ui middle aligned center aligned grid navigation'>
  <div class="column">
    <div class="content">
      <nav class="ui nav">
        <div class="nav-item">
          <form class="subscribe" action="{{ .Params.remoteUrl }}/subscribers.json" data-remote="" method="post">


          <span class="message">THANK YOU</span>
          <div class="ui action massive input">
            <input name="subscriber[email]" type="email">
            <button type="submit" class="ui teal button">
              Subscribe to Newsletter
            </button>
          </div>
          </form>
        </div>
        <div class="nav-item ui raised segment">
          <a href="https://www.etsy.com/shop/MakeYourselfDesigns">ETSY SHOP</a>
        </div>
        <div class="nav-item ui raised segment">
          <a href='https://instagram.com/makeyourselfdesigns'>INSTAGRAM</a>
        </div>
        <div class="nav-item ui raised segment">
          <a href='https://facebook.com/MYD518'>FACEBOOK</a>
        </div>
        <div class="nav-item ui raised segment">
          <a class="about" href="/about">ABOUT</a>
        </div>
        <div class="nav-item ui raised segment">
          <a class="blog" href="/blog">BLOG</a>
        </div>
        <div class="nav-item ui raised segment">
          <a class="blog" href='mailto:MakeYourselfDesigns@gmail.com'>EMAIL</a>
        </div>
      </nav>
    </div>
  </div>
</div>
</body>
</html>
